In [56]:
corpus_raw.head()

                                                                    text
_1158                  Amazon Web Services AWS is looking for a passi...
15x Bricklayers_87905  Apply now Job Title  Bricklayers Location  New...
_19361                 ORACLE PLSQL DEVELOPER  One of our Fortune 100...
1C Developer_15174     Gsoft is looking for an 1C Developer who will ...
1C Developer_5043      Link Ltd is actively looking for energetic and...

time: 15.8 ms (started: 2021-12-03 15:18:34 +00:00)

In [58]:
vectorizer = TfidfVectorizer()
corpus_vectors = vectorizer.fit_transform(corpus_raw['text'])

time: 34.4 s (started: 2021-12-03 15:19:14 +00:00)

In [59]:
input_index = np.where(corpus_filenames == input_key)[0][0]
input_vector = corpus_vectors[input_index]

time: 9.5 ms (started: 2021-12-03 15:20:06 +00:00)

In [64]:
from sklearn.metrics.pairwise import euclidean_distances

time: 1.17 ms (started: 2021-12-03 15:23:59 +00:00)

In [67]:
jd_test_output = euclidean_distances(corpus_vectors,input_vector)

time: 270 ms (started: 2021-12-03 15:25:27 +00:00)

In [68]:
test = pd.DataFrame(jd_test_output, index = corpus_filenames, columns = ['euclidean/diff'])
test

                          euclidean/diff
_1158                           0.000000
15x Bricklayers_87905           1.368242
_19361                          1.320610
1C Developer_15174              1.350098
1C Developer_5043               1.362660
...                                  ...
ZSM  DSL_70369                  1.334177
ZURICH FAST SDE_2333            1.232219
Zurich SDM CREST_2366           1.331204
zzz Certified Nurs_53703        1.307016
input:_1158                     0.000000

[151211 rows x 1 columns]

time: 28.7 ms (started: 2021-12-03 15:25:50 +00:00)